input[type="password"],
input[type="tel"],
input[type="number"],
input[type="text"],
select,
textarea,
textarea.form-control {
	height: 44px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #ddd;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 44px;
	color: #888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

textarea,
textarea.form-control {
	height: 90px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 30px;
}

input[type="password"],
input[type="tel"],
input[type="number"],
input[type="text"]:focus,
select:focus,
textarea:focus,
textarea.form-control:focus {
	outline: 0;
	background: #fff;
	border: 1px solid #ccc;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input[type="password"],
input[type="tel"],
input[type="number"],
input[type="text"]:-moz-placeholder,
textarea:-moz-placeholder,
textarea.form-control:-moz-placeholder {
	color: #888;
}

input[type="password"],
input[type="tel"],
input[type="number"],
input[type="text"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
	color: #888;
}

input[type="password"],
input[type="tel"],
input[type="number"],
input[type="text"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
	color: #888;
}

label {
	font-weight: 300;
}


button.btn.pages.pages {
	min-width: 105px;
	height: 40px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	border: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 40px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

button.btn.pages:hover {
	opacity: 0.6;
	color: #fff;
}

button.btn.pages:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

button.btn.pages:focus,
button.btn.pages:active:focus,
button.btn.pages.active:focus {
	outline: 0;
	opacity: 0.6;
	color: #fff;
}

button.btn.pages.btn-next,
button.btn.pages.btn-next:focus,
button.btn.pages.btn-next:active:focus,
button.btn.pages.btn-next.active:focus {
	background: #005959;
}

button.btn.pages.btn-submit,
button.btn.pages.btn-submit:focus,
button.btn.pages.btn-submit:active:focus,
button.btn.pages.btn-submit.active:focus {
	background: #005959;
}

button.btn.pages.btn-previous,
button.btn.pages.btn-previous:focus,
button.btn.pages.btn-previous:active:focus,
button.btn.pages.btn-previous.active:focus {
	background: #005959;
}
