a, a:hover, a:active {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;	
}

#leave_form {
	margin: 50px 100px 50px 100px;
}

#sidebar {
	background-color: #008080;
	max-width: 250px;
	min-width: 250px;
	height: 100vh;
	position: fixed;
	z-index: 9999;
	transition: all 0.3s;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #005959;
	background-color: #ffffff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background-color: #009999;
}

#sidebar ul li ul a:hover {
	color: #005959;
	background-color: #fff;
}

#sidebar .sidebar-header {
	background-color: #004d4d;
	color: white;
	padding: 20px;
}

#sidebar .sidebar-header img {
	width: 70%;
	margin-left: 27px;
	height: auto;
}

#content {
	padding: 10px 5px 10px 3px;
	margin-left: 255px;
}

.wrapper {
	display: flex;
}
