body {
    margin: 0;
}
.container {
    padding-top: 10%;
}

.modal {
    margin-top: -4% !important;
    max-width: 30% !important;
    max-height: 100% !important;
}

#logo {
    margin: 5%;
}
#login-form {
    padding: 5%;
    width: 45%;
}

#navbar {
    margin-left: 2%;
}

#reg-form {
    padding: 5%;
    width: 75%;
}