body {
    margin: 0;
}

/*Registration and Login*/

.valid{
	color: green;
}
.invalid{
	color: red;
}



/*Class*/

/*Footer*/

.footer {
    background-color: #fac213;
    text-align: center;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0.2%;
    padding-bottom: 0%;
}

.footer p {
    padding-top: 7px;
    padding-bottom: 0;
}

.sidebar-header {
    padding: 4vh;
    color: white;
}

/*ID*/

/*Password*/

#weak{
	color: red;
}
#good{
	color: yellow;
}
#average{
	color: orange;
}
#strong{
	color: green;
}

/*Button*/

#button1 {
    background-color: #005959;
    color: #fac213;
}

#button1:hover {
    background-color: #fac213;
    color: #005959;
}

/*Login form*/

#login-form {
    align-items: center;
    background-color: white;
    display: flex;
    height: 60%;
    justify-content: center;
    left: 0;
    margin: 0 auto;
    padding-top: 6%;
    position: absolute;
    width: 50%;
    right: 0;
    top: 20%;
    }

/*Sign Up form*/

#signup-form {
    display: flex;
    width: 30%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center
    margin: auto 0;
    position: absolute;
    top: 15%;
    left: 35%;
    right: 0;
    padding-top: 2%;
}

#personal_info {
    display: flex;
    width: 75%;
    padding-bottom: 3%;
    justify-content: center;
    align-items: center
    margin: auto 0;
    position: absolute;
    top: 15%;
    left: 12.5%;
    right: 15%;
    padding-top: 2%;
    padding-right: 2%;
}

.pads{
  padding-top: 32px;
}

#sidebar {
    height: 100vh;
    min-width: 250px;
    max-width: 250px;
}

/*Font Style*/

@font-face {
    font-family: rockwell;
    src: url(../fonts/RockwellStd.otf);
}
