a, a:hover, a:active {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;	
}

#sidebar {
	background-color: #008080;
	max-width: 250px;
	min-width: 250px;
	min-height: 100vh;
	transition: all 0.3s;
}

#sidebar.active {
	margin-left: -200px;
}

#sidebar ul.components {
	padding: 20px 0;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #005959;
	background-color: #ffffff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background-color: #009999;
}

#sidebar ul li ul a:hover {
	color: #005959;
	background-color: #fff;
}

#sidebar .sidebar-header {
	background-color: #004d4d;
	color: white;
	padding: 20px;
}

#sidebar .sidebar-header img {
	width: 70%;
	margin-left: 27px;
	height: auto;
}

.content {
	padding-right: 50px;
}

.wrapper {
	display: flex;
	align-items: stretch;
}


@media (max-width: 768px) {
	#sidebar {
		margin-left: 250px;
	}
	
	#sidebar.active {
		margin-left: 0;
	}
}