body {
    margin: 0;
}
.container {
    padding-top: 10%;
}

#login {
    padding: 0 !important;
    margin-top: -4% !important;
    max-width: 30% !important;
    max-height: 100% !important;
}

#signup {
    padding: 0% !important;
    margin-top: -4% !important;
    max-width: 80% !important;
    max-height: 100% !important;
}

#logo {
    margin-top: -4%;
    margin-bottom: 5%;
}

#navbar {
    margin-left: 2%;
}
