/*This stylesheet is created mainly for the styling of the admin's side*/
.admin {
	background-image: url(../../img/Lion.png);
}
#navigation-bar {
	background-color: #005959;
	max-height: 70px;
	min-height: 70px;
	padding: 0 0 0 5px;
}

#navigation-bar #nav-logo {
	background-color: white;
	height: auto;
	padding: 0;
	width: 7%;
}

#navigation-bar .navbar-brand {
	font-size: 2rem;
	font-family: rockwell;
	height: auto;
	margin: 3px 5px 5px 15px;
}

#navigation-bar .navbar-nav .active {
	background-color: #009999;
}

#navigation-bar .navbar-nav .logout:hover {
	background-color: #ff1a1a !important;
}

#navigation-bar .navbar-nav .nav-link {
	color: #fff;
	display: block;
}

#navigation-bar .navbar-nav .nav-link:hover {
	background-color: #00b3b3;
}

#second {
    overflow-y:scroll;
}

#text {
	height:300px;
    resize: none;
    width:500px;
 }

#wrapper .accounts-content {
	margin: 100px auto 100px auto;
}

#wrapper .announcement-content {
	margin-top: 100px;
}

#wrapper .index-content {
	margin-top: 90px;
}

#wrapper .leave-request-content {
	margin-top: 100px;
}

#wrapper #navbar-content {
	background-color: inherit;
}

#wrapper .user-content {
	margin-top: 100px;
}

#add-announcement-form .add-announcement-header h1 {
	padding-top: 50px;
	font-size: 3rem;
}

table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap:break-word; 
}
#editable{
	min-height:300px;
	width:900px;
	word-wrap: break-word;
	overflow: auto;
	border:1px solid black; 
	text-align:left;
	
}
#border{
	margin: auto !important;
	display: block;
}