/*This stylesheet is created mainly for the styling of the admin's side*/

textarea {
	display: none !important;
}

#navigation-bar {
	background-color: #005959;
	max-height: 70px;
	min-height: 70px;
	padding: 0 0 0 5px;
}

#navigation-bar #nav-logo {
	background-color: white;
	height: auto;
	padding: 0;
	width: 7%;
}

#navigation-bar .navbar-brand {
	font-size: 2rem !important;
	font-family: rockwell;
	height: auto;
	margin: 3px 23vw 5px 15px;
}

#navigation-bar .navbar-nav .active {
	background-color: #009999;
}

#navigation-bar .navbar-nav .logout:hover {
	background-color: #ff1a1a !important;
}

#navigation-bar .navbar-nav .nav-link {
	color: #fff;
	display: block;
}

#navigation-bar .navbar-nav .nav-link:hover {
	background-color: #00b3b3;
}

#second {
	overflow-y: scroll;
}

#text {
	height: 300px;
	resize: none;
	width: 500px;
}

#wrapper .accounts-content {
	background-color: #fff;
	margin: 100px auto 100px auto;
}

#wrapper .accounts-content .accounts-table {
	margin: 5vh 2vh;
}


#wrapper .announcement-content {
	margin-top: 100px;
}

#wrapper .announcement-content .announcement-table {
	margin: 5vh 10vh;
	width: 90%;
}

#wrapper .index-content {
	margin-top: 90px;
}

#wrapper .leave-request-content {
	margin-top: 100px;
}

#wrapper #navbar-content {
	background-color: inherit;
}

#wrapper .user-content {
	margin-top: 100px;
}

#add-announcement-form .add-announcement-header h1 {
	padding-top: 10px;
	font-size: 3rem;
}

table {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	table-layout: fixed;
	word-wrap: break-word;
}

#editable {
	min-height: 400px;
	width: 100%;
	word-wrap: break-word;
	overflow: auto;
	border: 1px solid black;
	text-align: left;
	margin: auto !important;
	display: block;

}

.edit {
	margin: 3px;
	width: 100px;
}

.delete {
	margin: 3px;
	width: 100px;
}

#border {
	min-height: 300px;
	width: 100%;
	opacity: 0.9%;
	margin: auto !important;
	display: block;
}

/*drop down menu for employees*/

.dropbtn {
	color: #fff;
	display: block;
	border: 0;
	background-color: transparent;
	padding: 8px;
}

.dropbtn:hover,
.dropbtn:focus {
	background-color: #00b3b3;
	;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.showbtn {
	display: block;
}

.summary {
	margin: 10% 5% 2% 16%;
	width: 70%;
}

.summary tr,
.value {
	border: 0.5px solid black;
	padding-left: 20px;
}

.summary .value {
	text-align: right;
	padding-right: 20px;
}

.summary .header {
	padding: 2%;
	font-size: 1rem;
	background-color: #005959;
	color: white;
}

.srf{
	background-color: #ffbf00;
}
.gross_pay{
	background-color: lightblue;
}
.gross_total{
	background-color: #0073e6;
}
.deduction{
	background-color: pink;
}
.total_deduction{
	background-color:  palevioletred;
}
.pay{
	background-color: burlywood;
}
.net_pay{
	background-color: #cc9900;
}